/*Reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* từ ngoài vào trong, từ trên xuống dưới
Tổn quan đến chi tiết*/

/*
1. Vị trí
2. kích thước (width, height)
3.Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông)
*/

#main {
}

#header {
  height: 46px;
  background-color: #000;
}

#nav {
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: inline-block;
}

#nav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
}

#slider {
}

#content {
}

#footer {
}
