/*Reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* từ ngoài vào trong, từ trên xuống dưới
Tổn quan đến chi tiết*/

/*
1. Vị trí
2. kích thước (width, height)
3.Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông)
*/

#main {
}

#header {
  height: 46px;
  background-color: #000;
}
#nav,
.subnav {
  list-style-type: none;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(77, 74, 74, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#slider {
  min-height: 500px;
}

#content {
}

#footer {
}
